klient/Web References/localhost/SubiektService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://subiekt-service-amp.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://subiekt-service-amp.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://subiekt-service-amp.org/">
      <s:element name="GetUsersFromPortalGames">
        <s:complexType />
      </s:element>
      <s:element name="GetUsersFromPortalGamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersFromPortalGamesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAuth" type="tns:UserAuth" />
      <s:complexType name="UserAuth">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="order_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUsersFromPortalGamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersFromPortalGames" />
  </wsdl:message>
  <wsdl:message name="GetUsersFromPortalGamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersFromPortalGamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersFromPortalGamesUserAuth">
    <wsdl:part name="UserAuth" element="tns:UserAuth" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserUserAuth">
    <wsdl:part name="UserAuth" element="tns:UserAuth" />
  </wsdl:message>
  <wsdl:portType name="SubiektService1Soap">
    <wsdl:operation name="GetUsersFromPortalGames">
      <wsdl:input message="tns:GetUsersFromPortalGamesSoapIn" />
      <wsdl:output message="tns:GetUsersFromPortalGamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubiektService1Soap" type="tns:SubiektService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsersFromPortalGames">
      <soap:operation soapAction="http://subiekt-service-amp.org/GetUsersFromPortalGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUsersFromPortalGamesUserAuth" part="UserAuth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://subiekt-service-amp.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddUserUserAuth" part="UserAuth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubiektService1Soap12" type="tns:SubiektService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsersFromPortalGames">
      <soap12:operation soapAction="http://subiekt-service-amp.org/GetUsersFromPortalGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUsersFromPortalGamesUserAuth" part="UserAuth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://subiekt-service-amp.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddUserUserAuth" part="UserAuth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubiektService1">
    <wsdl:port name="SubiektService1Soap" binding="tns:SubiektService1Soap">
      <soap:address location="http://localhost:100/SubiektService1.asmx" />
    </wsdl:port>
    <wsdl:port name="SubiektService1Soap12" binding="tns:SubiektService1Soap12">
      <soap12:address location="http://localhost:100/SubiektService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>